<div class="container" >
    <form name="register" [formGroup]="registerForm">
    <div class="form-group" >
      <label for="userName">User Name</label>
      <input type="text" class="form-control"   formControlName='userName' required>
      <div class="alert alert-danger" *ngIf="registerForm.get('userName').status=='INVALID'" >
        user name is required
      </div>
    </div>

    <div class="form-group" >
      <label for="email">Email</label>
      <input type="email"  class="form-control" formControlName="email" >
    </div>
    <div class="form-group" >
      <label for="phoneNumber">Phone Number</label>
      <input type="text"  class="form-control" formControlName="phoneNumber" >
    </div>

    
<div formGroupName="billingAdress">
  <h3>Billing Address</h3>
  <label>
    Door Number
    <input type="text" formControlName="doorNumber">
  </label>
   <label>
    City:
    <input type="text" formControlName="city">
  </label>
 
   <label>
    Pin Code:
    <input type="text" formControlName="zip">
  </label>
  <div class="alert alert-danger"  *ngIf="registerForm.get('billingAdress').get('zip').status=='INVALID' && registerForm.get('billingAdress').get('zip').hasError('required')">
    zip code is required
  </div>
  <div class="alert alert-danger" *ngIf="registerForm.get('billingAdress').get('zip').status=='INVALID' && registerForm.get('billingAdress').get('zip').hasError('pattern')">
      zip code should be a valid zip code
    </div>
</div>



    <div>
      <button class="btn btn-primary"  (click) ="registerUser()" [disabled]="!registerForm.valid">Register</button>
    </div>
    </form>

   
   

    <div>
      form value : {{registerForm.value|json}}
    </div>
   </div>
   